// BODY CONTENT
.fw_layout_toan
	div
		span B
	h2 Official Themes from Bootstrap's creators
	p Customize and extend the world's most popular front-end framework.
	a 
		.btn__fw_layout_toan
			p Explore themes
	img(src="photos/pic_01.png" alt="img1")
	h3 "Each Bootstrap theme provides a comprehensive set of tools that's super easy to get up and running—it gives you a huge leg up when starting a project"
	p Katie Zhu, Product Engineer at Medium
		|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, sequi.
	h3 From the Bootstrap Team
	p Bootstrap Themes are built by the team who created Bootstrap itself. We're also responsible for Skeleton, Ratchet, and the front-end architecture for companies like Twitter, GitHub, Medium, and others.
	.person-profile__fw_layout_toan.row
		.col-lg-2.col-md-2.col-xs-2.col-sm-2
		.col-lg-8.col-md-8.col-xs-8.col-sm-8
			.row
				.col-lg-4.col-md-4.col-xs-4.col-sm-4
					.panel-profile__fw_layout_toan
						.panel-header__fw_layout_toan 
							img(src="photos/pic_02.png" alt="img2")
						.panel-body__fw_layout_toan 
							p.title__fw_layout_toan Jacob Thornton
							p Creator of Bootstrap, engineer at Twitter & Medium. Founder of Bumpers.
							a 
								.btn__fw_layout_toan
									p View Github
				.col-lg-4.col-md-4.col-xs-4.col-sm-4
					.panel-profile__fw_layout_toan
						.panel-header__fw_layout_toan 
							img(src="photos/pic_03.png" alt="img3")
						.panel-body__fw_layout_toan
							p.title__fw_layout_toan Mark Otto
							p Design at GitHub. Creator of Bootstrap. Previously at Twitter. Huge nerd.
							a 
								.btn__fw_layout_toan
									p View Github
				.col-lg-4.col-md-4.col-xs-4.col-sm-4
					.panel-profile__fw_layout_toan
						.panel-header__fw_layout_toan
							img(src="photos/pic_04.png" alt="img4")
						.panel-body__fw_layout_toan
							p.title__fw_layout_toan Dave Gamache
							p Design at Twitter & Medium. Starting something new soon ;)
							a 
								.btn__fw_layout_toan
									p View Github