.fw_divHeader
	.articlEmail
		.articlEmailTitle.col-lg-6.col-md-6.col-sm-6.col-xs-12
			p 
				span.spanfirst Interested in new themes and discounts?
			br
			p
				span We'll notify you and promise never to spam.
		.articlEmailInput.col-lg-6.col-md-6.col-sm-6.col-xs-12
			input(type="text", class="col-lg-3 col-md-3 col-sm-3", placeholder="Email")
			button(type="button") Subscribe
.fw_divContent
	.divLeft.col-lg-6.col-md-6.col-sm-6.col-xs-12
		h1 Themes built as frameworks
		p Each theme was designed as its own extended version of Bootstrap, built for a specific set of problems—dashboards, web apps, or marketing pages. To do this we've not only extended many of your favorite parts of Bootstrap, but also introduced dozens of completely new utilities, components, and plugins.
		button(type="button") View themes
	.divRight.col-lg-6.col-md-6.col-sm-6.col-xs-12
		img(src="/dist/imgs/outline-buttons.png")
.fw_divFooter
	.divComponents.col-lg-4.col-md-4.col-sm-4.col-xs-12
		img(src="/dist/imgs/components-icon.png")
		h5 Components and examples
		p Each theme features new components built to the same level of quality as Bootstrap and highlighted with several example pages.
	.divTon.col-lg-4.col-md-4.col-sm-4.col-xs-12
		img(src="/dist/imgs/sliders-icon.png")
		h5 Tons of variables
		p Theme components inherit much of their style from variables, exactly like Bootstrap. Change a few values and the theme adapts.
	.divSource.col-lg-4.col-md-4.col-sm-4.col-xs-12
		img(src="/dist/imgs/wrenches-icon.png")
		h5 Source files and tools
		p Each Bootstrap theme includes all the source and compiled files you'll need, including npm and Gulp based build tools.

	