.fw_thinh_second
	.fw_divHeader2__fw_thinh_second.col-lg-12.col-md-12.col-sm-12.col-xs-12
		h1 There is Thinh's Page	
		.divNPM__fw_divHeader2.col-lg-6.col-md-6.col-sm-12.col-xs-12
			img(src="/dist/imgs/npm.png")
		.divDocument__fw_divHeader2.col-lg-6.col-md-6.col-sm-12.col-xs-12
			h2 Documentation and tooling
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius veniam asperiores fuga ipsum neque fugit, eveniet iusto, provident ducimus quidem laborum accusantium enim tempora quo id facilis ab sunt reiciendis doloremque esse. Nihil, facilis, optio! Labore quas sunt, eligendi magnam alias. Voluptatem vero consequuntur itaque, aperiam optio voluptatum quia ad cum veritatis esse reiciendis, doloribus modi asperiores dolore! Expedita recusandae alias ex, odit. Aspernatur accusantium blanditiis odit ea perspiciatis aliquam exercitationem assumenda cupiditate neque repellat tenetur numquam culpa totam minima, fugiat sint repellendus aperiam dolores molestiae, error in! Aut, molestiae molestias culpa repellat doloremque dolorem? Iusto culpa quis numquam reiciendis!
			button(type="button") Explore the Dashboard docs	
	.fw_divContent2__fw_thinh_second.col-lg-12.col-md-12.col-sm-12.col-xs-12
		.divSubport__fw_divContent2.col-lg-12.col-md-12.col-sm-12.col-xs-12
			h2 Free updates and support
			p Bootstrap Themes all include free updates, including compatibility upgrades for Bootstrap patches and even Bootstrap 4. Need help? Shoot us an email at
			a themes@getbootstrap.com.
			button(type="button") Read more in our FAQ
	.fw_divFooter2__fw_thinh_second.col-lg-12.col-md-12.col-sm-12.col-xs-12
		.divComponents__fw_divFooter2.col-lg-4.col-md-4.col-sm-4.col-xs-12.block
			.img-wrap
				img(src="/dist/imgs/unlimited-icon.png")
			h2 Free updates
			.square-text
				p Each theme comes with updates for the life of the theme. This means you'll never pay for any bug-fixes and compatibility upgrades for your theme, ever.
		.divTon__fw_divFooter2.col-lg-4.col-md-4.col-sm-4.col-xs-12.block
			.img-wrap
				img(src="/dist/imgs/script-icon.png")
			h2 Licenses
			.square-text
				p All our themes have two simple licenses. Our Multiple Use License is for building sites for yourself and your clients. Our Extended License is for redistrubtion and resale.
		.divSource__fw_divFooter2.col-lg-4.col-md-4.col-sm-4.col-xs-12.block
			.img-wrap
				img(src="/dist/imgs/cup-icon.png")
			h2 Technical support
			.square-text
				p We're here to help with your Bootstrap Themes questions. Shoot us an email at themes@getbootstrap.com and we'll get back to you ASAP.
