.fw_divHeader2.col-lg-12.col-md-12.col-sm-12.col-xs-12
	.divNPM.col-lg-6.col-md-6.col-sm-12.col-xs-12
		img(src="/dist/imgs/npm.png")
	.divDocument.col-lg-6.col-md-6.col-sm-12.col-xs-12
		h1 Documentation and tooling
		div Every component and plugin is thoroughly documented with live examples and code blocks for easier use and customization—just like Bootstrap itself. Not comfortable diving that deep? No worries, you can get started by double clicking index.html!
		button(type="button") Explore the Dashboard docs	
.fw_divContent2.col-lg-12.col-md-12.col-sm-12.col-xs-12
	.divSubport.col-lg-12.col-md-12.col-sm-12.col-xs-12
		h1 Free updates and support
		div Bootstrap Themes all include free updates, including compatibility upgrades for
		div Bootstrap patches and even Bootstrap 4. Need help? Shoot us an email at
		div
			a themes@getbootstrap.com.
		br
		div
			button(type="button") Read more in our FAQ
.fw_divFooter2.col-lg-12.col-md-12.col-sm-12.col-xs-12
	.divComponents.col-lg-4.col-md-4.col-sm-4.col-xs-12
		img(src="/dist/imgs/unlimited-icon.png")
		h1 Free updates
		div Each theme comes with updates for the life
		div of the theme. This means you'll never pay for
		div any bug-fixes and compatibility upgrades for
		div your theme, ever.
	.divTon.col-lg-4.col-md-4.col-sm-4.col-xs-12
		img(src="/dist/imgs/script-icon.png")
		h1 Licenses
		div All our themes have two simple licenses. Our
		div Multiple Use License is for building sites for
		div yourself and your clients. Our Extended
		div License is for redistrubtion and resale.
	.divSource.col-lg-4.col-md-4.col-sm-4.col-xs-12
		img(src="/dist/imgs/cup-icon.png")
		h1 Technical support
		div We're here to help with your Bootstrap
		div Themes questions. Shoot us an email at
		div themes@getbootstrap.com and we'll get back to you ASAP.
