// BODY CONTENT
.fw_layout_toan
	div
		span B
	h3 Official Themes from Bootstrap's creators
	p Customize and extend the world's most popular front-end framework.
	a 
		.btn
			p Explore themes
	div
		img(src="photos/pic_01.png" alt="img1")
	h4 "Each Bootstrap theme provides a comprehensive set of <br> tools that's super easy to get up and running—it gives you a <br> huge leg up when starting a project"
	p Katie Zhu, Product Engineer at Medium
		|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, sequi.
	h5 From the Bootstrap Team
	p Bootstrap Themes are built by the team who created Bootstrap itself. We're also <br> responsible for Skeleton, Ratchet, and the front-end architecture for companies like <br> Twitter, GitHub, Medium, and others.
	div.person-profile.row
		div(class="col-lg-2 col-md-2 col-xs-2 col-sm-2")
		div(class="col-lg-8 col-md-8 col-xs-8 col-sm-8")
			div.row
				div(class="col-lg-4 col-md-4 col-xs-4 col-sm-4")
					div.panel-profile
						div(class="panel-header") 
							img(src="photos/pic_02.png" alt="img2")
						div(class="panel-body") 
							p.title Jacob Thornton
							p Creator of Bootstrap, engineer at Twitter & Medium. Founder of Bumpers.
							a 
								.btn
									p View Github
				div(class="col-lg-4 col-md-4 col-xs-4 col-sm-4")
					div.panel-profile
						div(class="panel-header") 
							img(src="photos/pic_03.png" alt="img3")
						div(class="panel-body") 
							p.title Mark Otto
							p Design at GitHub. Creator of Bootstrap. Previously at Twitter. Huge nerd.
							a 
								.btn
									p View Github
				div(class="col-lg-4 col-md-4 col-xs-4 col-sm-4")
					div.panel-profile
						div(class="panel-header") 
							img(src="photos/pic_04.png" alt="img4")
						div(class="panel-body") 
							p.title Dave Gamache
							p Design at Twitter & Medium. Starting something new soon ;)
							a 
								.btn
									p View Github
		div(class="col-lg-2 col-md-2 col-xs-2 col-sm-2")