@import map-get
@import common
+exports("fw_layout_toan")
	.fw_layout_toan
		text-align: center
		span
			font-weight: bold
			font-size: 60pt
			border: 1px solid #000
			width: 120px
			margin: 100px auto 30px;
			display: block
			border-radius: 15%
		h3
			font-size: 20pt
		a
			font-size: 12pt
			margin-bottom: 40px
			.btn
				border: 1px solid #000
				border-radius: 5px
				background: #000
				height: 35px
				margin-bottom: 60px
				margin-top: 15px
				p
					color: #fff
		h4
			font-size: 20px
		h5 
			font-weight: bold
			margin-top: 40px
		div.person-profile.row
			div.row
				margin-bottom: 30px
				.panel-profile 
					border: 1px solid #000
					border-radius: 5px
					.panel-header
						
						img 
							width: 100%
					.panel-body
						p.title
							font-size: 10pt
							font-weight: bold
							padding-top: 15px
						p 
							font-size: 9pt

	

		

