<<<<<<< HEAD
//HEADER LOGO + HEADER RIGHT
//- div(class="head-wrap")
//- 	div(class="top-head set-bg-white")
//- 		div(class="col-lg-4 col-md-4 col-sm-6 no-float logo-amar")
//- 			div(class="row")
//- 				a(href="" class="defa-logo minimize")
//- 					img(src="imgs/layouts/logo_fw.png" alt="logo")
//- 		div(class="only-righ")
//- 			a(class="the-butt btn-cont cont-form-btn for-desk") CTO
//- 			a(class="the-butt btn-appl" href="http://fw.com/fw-careers-page/home/home-page-v2") Apply

//- 			.scocial
//- 				a.facebook(href="")
//- 				a.google(href="")
=======
//HEADER LOGO + HEADER RIGHT
//- div(class="head-wrap")
//- 	div(class="top-head set-bg-white")
//- 		div(class="col-lg-4 col-md-4 col-sm-6 no-float logo-amar")
//- 			div(class="row")
//- 				a(href="" class="defa-logo minimize")
//- 					img(src="imgs/layouts/logo_fw.png" alt="logo")
//- 		div(class="only-righ")
//- 			a(class="the-butt btn-cont cont-form-btn for-desk") CTO
//- 			a(class="the-butt btn-appl" href="http://fw.com/fw-careers-page/home/home-page-v2") Apply

//- 			.scocial
//- 				a.facebook(href="")
//- 				a.google(href="")
>>>>>>> 70489022218b970219ddf4797ea8d4b30eb2020a
//- 				a.twwtiwer(href="")